.todo {
    height: 100vh;
    padding: 15px 15px 8px 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
}