input:focus {
  outline: none;
}
.inputBox {
  background: white;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
}
.inputBox input {
  border-style: none;
  font-size: 0.9rem;
}
.addBtn {
  vertical-align: middle;
}
.addBtn:hover {
  cursor: pointer;
}
